{:source-paths ["src"]
 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:main {:entries [wm.frontend.core]}}
   :devtools {:after-load wm.frontend.core/init}}}}

